{% extends 'sidebar.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Crear Proyecto</h1>
        <form method="post" action="{% url 'crear_proyecto' %}">
            {% csrf_token %}
        <div class="form-row">
            <div class="col-md-6 form-group">
                <label for="organizacion">Organización:</label>
                <select class="form-control dark-input" name="id_organizacion">
                    <option value="">Seleccionar organización</option> 
                    {% for organizacion in organizaciones %}
                    <option value="{{ organizacion.id }}">{{ organizacion.denominacion }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6 form-group">
                <label for="categoria">Categoría:</label>
                <select class="form-control dark-input" name="id_categoria" required>
                    <option value="">Seleccionar categoría</option> 
                    {% for categoria in categorias %}
                    <option value="{{ categoria.id }}">{{ categoria.categoria }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    Por favor, selecciona una categoría.
                </div>
            </div>
        </div>
            <div class="form-row">
                <div class="col-md-6 form-group">
                    <label for="nom_proyecto">Nombre del Proyecto:</label>
                    <input type="text" class="form-control dark-input" name="nom_proyecto" required>
                </div>
                <div class="col-md-6 form-group">
                    <label for="prioridad">Prioridad:</label>
                    <select class="form-control dark-input" name="prioridad" required>
                        <option value="">Seleccionar Prioridad</option>
                        <option value="Alta">Alta</option>
                        <option value="Media">Media</option>
                        <option value="Baja">Baja</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="f_registro">Fecha de Registro:</label>
                <input type="datetime-local" class="form-control dark-input" name="f_registro" required>
            </div>
            <div class="form-row">
                <div class="col-md-6 form-group">
                    <label for="f_inicio_p">Fecha de Inicio:</label>
                    <input type="date" class="form-control dark-input" name="f_inicio_p" required>
                </div>
                <div class="col-md-6 form-group">
                    <label for="f_final_p">Fecha de Finalización:</label>
                    <input type="date" class="form-control dark-input" name="f_final_p" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 form-group">
                    <label for="presupuesto_p_t">Presupuesto Total:</label>
                    <input type="number" class="form-control dark-input" name="presupuesto_p_t" step="0.01" required>
                </div>
                <div class="col-md-6 form-group">
                    <label for="num_presupuesto_doc">Número de Presupuesto:</label>
                    <input type="text" class="form-control dark-input" name="num_presupuesto_doc" required>
                </div>
            </div>
            <div class="form-group">
                <label for="observaciones">Observaciones:</label>
                <input type="text" class="form-control dark-input" name="observaciones">
            </div>
            <div class="form-group">
                <label for="estado">Estado:</label>
                <select class="form-control dark-input" name="estado">
                    <option value="">Seleccionar Estado</option>
                    <option value="En Espera">En Espera</option>
                    <option value="En Progreso">En Progreso</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Completado">Completado</option>
                    <option value="Cancelado">Cancelado</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success btn-block">Guardar</button>
        </form>
    </div>
</div>
{% endblock %}
