{% extends 'sidebar.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Crear Organización</h1>
        <form method="post" action="{% url 'crear_organizacion' %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-4 form-group">
                    <label for="denominacion">Denominación:</label>
                    <input type="text" class="form-control dark-input" name="denominacion" required>
                </div>
                <div class="col-md-4 form-group">
                    <label for="ruc">RUC:</label>
                    <input type="number" class="form-control dark-input" name="ruc" required>
                </div>
                <div class="col-md-4 form-group">
                    <label for="direccion">Dirección:</label>
                    <input type="text" class="form-control dark-input" name="direccion" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 form-group">
                    <label for="departamento">Departamento:</label>
                    <input type="text" class="form-control dark-input" name="departamento">
                </div>
                <div class="col-md-4 form-group">
                    <label for="provincia">Provincia:</label>
                    <input type="text" class="form-control dark-input" name="provincia">
                </div>
                <div class="col-md-4 form-group">
                    <label for="distrito">Distrito:</label>
                    <input type="text" class="form-control dark-input" name="distrito">
                </div>
            </div>
            <div class="form-group">
                <label for="notas">Notas:</label>
                <input type="text" class="form-control dark-input" name="notas">
            </div>
            <div class="form-group">
                <label for="relacion">Relación Comercial:</label>
                <select class="form-control dark-input" name="relacion">
                    {% for relacion in relaciones %}
                    <option value="{{ relacion.id }}">{{ relacion.relacion }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-success btn-block">Guardar</button>
        </form>
    </div>
</div>
{% endblock %}
