{% extends 'sidebar.html' %}

{% block content %}
<div class="card" style="max-width: 400px; margin: 0 auto;">
    <div class="card-body">
        <h1 class="card-title text-center">Editar Relación Comercial</h1>
        <form method="post" action="">
            {% csrf_token %}
            <div class="mb-3">
                <label for="relacion" class="form-label">Nombre de la relación:</label>
                <input type="text" class="form-control" name="relacion" value="{{ relacion.relacion }}" required>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success">Guardar Cambios</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
