{% extends 'sidebar.html' %}

{% block content %}
<div class="card" style="max-width: 400px; margin: 0 auto;">
    <div class="card-body">
        <h1 class="card-title text-center">Editar Unidad de Medida</h1>
        <form method="post" action="{% url 'edit_unidad' unidad.id %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="unidad" class="form-label">Nombre de la unidad de medida:</label>
                <input type="text" class="form-control" name="unidad" value="{{ unidad.unidad }}" required>
            </div>
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
