{% extends 'sidebar.html' %}

{% block content %}
<div class="container">
  <div class="wrapper">
    <div class="blog-card spring-fever">
      <div class="title-content">
        <h3 style="font-size: 30px;">TURPO SOLUCIONES INTEGRALES</h3>
        <hr class="custom-hr">
        <div class="intro">RESEÑA</div>
      </div><!-- /.title-content -->
      <div class="card-info"  style="font-size: 18px;">
        
        Turpo Soluciones Integrales E.I.R.L. es una empresa peruana que desarrolla<br>
        las actividades de fabricación, montaje, mantenimiento y reparación de partes y<br>
        componentes de equipos industriales bajo los lineamientos que garanticen la <br>
        calidad de servicio, la preservación del medio ambiente, la seguridad y salud <br>
        ocupacional de los trabajadores, clientes y contratistas.<br>

      </div><!-- /.card-info -->
      <div class="gradient-overlay"></div>
      <div class="color-overlay"></div>
    </div><!-- /.blog-card -->
  </div>
</div>
{% endblock %}
