{% extends 'sidebar.html' %}

{% block content %}
<div class="container">
  <div class="wrapper">
    <div class="blog-card spring-fever">
      <div class="title-content">
        <h3 style="font-size: 30px;">TURPO SOLUCIONES INTEGRALES</h3>
        <hr class="custom-hr">
        <div class="intro">RESEÑA</div>
      </div><!-- /.title-content -->
      <div class="card-info"  style="font-size: 18px;">
        Somos una empresa arequipeña que brinda servicios de mantenimiento mecánico de equipos industriales.
      </div><!-- /.card-info -->
      <div class="gradient-overlay"></div>
      <div class="color-overlay"></div>
    </div><!-- /.blog-card -->
  </div>
</div>
{% endblock %}
