{% extends 'sidebar.html' %}

{% block content %}
<div class="card table-card">
    <h1>Listado de Tareas</h1>
    <a href="{% url 'create_tarea' %}" class="btn btn-success">Crear Nueva Tarea</a>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>Proyecto</th>
                    <th>Nombre de Tarea</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Finalización</th>
                    <th>Días</th>
                    <th>Presupuesto</th>
                    <th>Notas</th>
                    <th>Estado</th>
                    <th class="small-cell">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for tarea in tareas %}
                <tr>
                    <td>{{ tarea.id_proyecto.nom_proyecto }}</td>
                    <td>{{ tarea.nom_tarea }}</td>
                    <td>{{ tarea.f_inicio_t }}</td>
                    <td>{{ tarea.f_final_t }}</td>
                    <td>{{ tarea.dias }}</td>
                    <td>{{ tarea.presupuesto_t }}</td>
                    <td>{{ tarea.notas }}</td>
                    <td>
                        {% if tarea.estado == 'En Espera' %}
                            <span class="badge badge-secondary">{{ tarea.estado }}</span>
                        {% elif tarea.estado == 'En Progreso' %}
                            <span class="badge badge-primary">{{ tarea.estado }}</span>
                        {% elif tarea.estado == 'Pendiente' %}
                            <span class="badge badge-warning">{{ tarea.estado }}</span>
                        {% elif tarea.estado == 'Completado' %}
                            <span class="badge badge-success">{{ tarea.estado }}</span>
                        {% elif tarea.estado == 'Cancelado' %}
                            <span class="badge badge-danger">{{ tarea.estado }}</span>
                        {% endif %}
                    </td>
                    <td class="small-cell">
                        <a href="{% url 'edit_tarea' tarea.id %}" class="btn btn-warning btn-sm mr-2">Editar</a>
                        <button onclick="showModal({{ tarea.id }})" class="btn btn-danger btn-sm">Eliminar</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <!-- Modal para confirmar la eliminación -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmModalLabel">¿Estás seguro de que deseas eliminar esta tarea?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Esta acción no se puede deshacer.</p>
          </div>
          <div class="modal-footer">
            <form id="deleteForm" method="post" action="{% url 'delete_tarea' %}">
              {% csrf_token %}
              <input type="hidden" name="tarea_id" id="tareaId" value="">
              <button type="submit" class="btn btn-danger">Confirmar</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <!-- JavaScript -->
    <script>
      function showModal(tareaId) {
        document.getElementById("tareaId").value = tareaId;
        $('#confirmModal').modal('show');
      }
    </script>
</div>
{% endblock %}
