{% extends 'sidebar.html' %}

{% block content %}
{% if mensajes_exito %}
    <div class="alert alert-success" id="success-message">
        {% for mensaje in mensajes_exito %}
            {{ mensaje }}
        {% endfor %}
    </div>
{% endif %}

<div class="card table-card">
    <h1>Listado de Tareas</h1>
    <form method="get" class="form-inline">
        <div class="form-group">
            <label for="proyecto_id" class="mr-2">Filtrar por Proyecto:</label>
            <select name="proyecto_id" id="proyecto_id" class="form-control mr-2">
                <option value="">Todos los Proyectos</option>
                {% for proyecto in proyectos %}
                    <option value="{{ proyecto.id }}">{{ proyecto.nom_proyecto }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-dark">Filtrar</button>
        </div>
    </form>
    <a href="{% url 'create_tarea' %}" class="btn btn-success">Crear Nueva Tarea</a>
    <div class="table-responsive mt-3">
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th style="width: 500px">___Proyecto___</th>
                    <th style="width: 800px">__Nombre_de_Tarea__</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha Final</th>
                    <th>Días</th>
                    <th>Presupuesto</th>
                    <th>Gasto Real</th>
                    <th style="width: 800px">_______Notas_______</th>
                    <th>Estado</th>
                    <th>Agregar</th>
                    <th class="small-cell">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for tarea in page_obj %}
                <tr>
                    <td>{{ tarea.id_proyecto.nom_proyecto }}</td>
                    <td>{{ tarea.nom_tarea }}</td>
                    <td>{{ tarea.f_inicio_t|date:"d/m/y"  }}</td>
                    <td>{{ tarea.f_final_t|date:"d/m/y"  }}</td>
                    <td>{{ tarea.dias }}</td>
                    <td class="Presupuesto">S/.{{ tarea.presupuesto_t }}</td>
                    <td class="font-weight-bold text-purple gasto-real">
                        S/.{{ tarea.uso_recurso }}
                    </td>
                    <td>{{ tarea.notas }}</td>
                    <td>
                        {% if tarea.estado == 'En Espera' %}
                            <span class="badge badge-secondary">{{ tarea.estado }}</span>
                        {% elif tarea.estado == 'En Progreso' %}
                            <span class="badge badge-primary">{{ tarea.estado }}</span>
                        {% elif tarea.estado == 'Pendiente' %}
                            <span class="badge badge-warning">{{ tarea.estado }}</span>
                        {% elif tarea.estado == 'Completado' %}
                            <span class="badge badge-success">{{ tarea.estado }}</span>
                        {% elif tarea.estado == 'Cancelado' %}
                            <span class="badge badge-danger">{{ tarea.estado }}</span>
                        {% endif %}
                    </td>
                    <td class="cell-recurso">
                        <a href="{% url 'create_recurso' %}?tarea_id={{ tarea.id }}" class="btn bg-secondary text-white btn-sm mr-2">+ Recurso</a>
                    </td>
                    <td class="small-cell d-flex align-items-center">
                        <div class="ml-auto">
                            <a href="{% url 'edit_tarea' tarea.id %}" class="btn btn-warning btn-sm mr-2">Editar</a>
                            <button onclick="showModal({{ tarea.id }})" class="btn btn-danger btn-sm">Eliminar</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
        <!-- Paginación -->
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1{% if request.GET.proyecto_id %}&proyecto_id={{ request.GET.proyecto_id }}{% endif %}">&laquo; primera</a>
                    <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.proyecto_id %}&proyecto_id={{ request.GET.proyecto_id }}{% endif %}">anterior</a>
                {% endif %}

                <span class="current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}{% if request.GET.proyecto_id %}&proyecto_id={{ request.GET.proyecto_id }}{% endif %}">siguiente</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.proyecto_id %}&proyecto_id={{ request.GET.proyecto_id }}{% endif %}">ultima &raquo;</a>
                {% endif %}
            </span>
        </div>
</div>

<!-- Modal para confirmar la eliminación -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">¿Estás seguro de que deseas eliminar esta tarea?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Esta acción no se puede deshacer.</p>
      </div>
      <div class="modal-footer">
        <form id="deleteForm" method="post" action="{% url 'delete_tarea' %}">
          {% csrf_token %}
          <input type="hidden" name="tarea_id" id="tareaId" value="">
          <button type="submit" class="btn btn-danger">Confirmar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
    function hideSuccessMessage() {
        var successMessage = document.getElementById('success-message');
        if (successMessage) {
            successMessage.style.display = 'none';
        }
    }

    // Llamar a la función después de 3000 milisegundos (3 segundos)
    setTimeout(hideSuccessMessage, 3000);

    function showModal(tareaId) {
        document.getElementById("tareaId").value = tareaId;
        $('#confirmModal').modal('show');
    }

    function verificarGastoReal() {
        var filas = document.querySelectorAll('.table tbody tr');

        filas.forEach(function (fila) {
            var presupuesto = parseFloat(fila.querySelector('.Presupuesto').innerText.replace('S/.', ''));
            var gastoReal = parseFloat(fila.querySelector('.gasto-real').innerText.replace('S/.', ''));

            if (gastoReal > presupuesto) {
                fila.style.backgroundColor = 'rgba(255, 0, 0, 0.3)'; // Pone toda la fila de color rojo
            } else {
                fila.style.backgroundColor = ''; // Restaurar el color de fondo por defecto
            }
        });
    }

    // Llamar a la función de verificación después de que todos los elementos de la página estén cargados
    document.addEventListener('DOMContentLoaded', function () {
        verificarGastoReal();
    });
</script>

{% endblock %}
