{% extends 'sidebar.html' %}

{% block content %}
<div class="card table-card">
  <h1>Crear nueva unidad de medida</h1>
  <form method="post" action="{% url 'create_unidad' %}">
    {% csrf_token %}
    <input type="text" name="unidad" placeholder="Nombre de la unidad de medida" required>
    <button type="submit" class="btn btn-success">Crear</button>
  </form>

  <hr>

  <h1>Listado de unidades de medida</h1>
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-sm">
      <thead>
        <tr>
          <th id="celdas1">ID</th>
          <th id="celdas2">Unidad de Medida</th>
          <th class="small-cell">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for unidad in unidades %}
        <tr>
          <td>{{ unidad.id }}</td>
          <td>{{ unidad.unidad }}</td>
          <td class="small-cell">
            <a href="{% url 'edit_unidad' unidad.id %}" class="btn btn-warning btn-sm mr-2">Editar</a>
            <button onclick="showModal({{ unidad.id }})" class="btn btn-danger btn-sm">Eliminar</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Modal para confirmar la eliminación -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmModalLabel">¿Estás seguro de que deseas eliminar esta unidad de medida?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Esta acción no se puede deshacer.</p>
      </div>
      <div class="modal-footer">
        <form id="deleteForm" method="post" action="{% url 'delete_unidad' %}">
          {% csrf_token %}
          <input type="hidden" name="unidad_id" id="unidadId" value="">
          <button type="submit" class="btn btn-danger">Confirmar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- JavaScript -->
<script>
  function showModal(unidadId) {
    document.getElementById("unidadId").value = unidadId;
    $('#confirmModal').modal('show');
  }
</script>
{% endblock %}
